/****** Script for SelectTopNRows command from SSMS  ******/

  USE TERMO8;
  /*INSERT INTO PIVOT_REP_HABER*/
  SELECT ('MATERIA PRIMAS') AS NOM_CUENTA,
  ('11050101R') AS [CUENTA],
    (SUM(RIESGO)) AS VALORES FROM PIVOT_REP_DISTRIB WHERE INV_MAT_GL_ACCT_ID = '11050101' OR INV_MAT_GL_ACCT_ID = '11050102' 
	OR INV_MAT_GL_ACCT_ID = '11050103' OR INV_MAT_GL_ACCT_ID = '11050104' OR INV_MAT_GL_ACCT_ID = '11050105'
	OR INV_MAT_GL_ACCT_ID = '11050106' OR INV_MAT_GL_ACCT_ID = '11050107' OR INV_MAT_GL_ACCT_ID = '11050108'
	OR INV_MAT_GL_ACCT_ID = '11050109' OR INV_MAT_GL_ACCT_ID = '11050110' OR INV_MAT_GL_ACCT_ID = '11050111'
	OR INV_MAT_GL_ACCT_ID = '11050112' OR INV_MAT_GL_ACCT_ID = '11050113' OR INV_MAT_GL_ACCT_ID = '11050114'
	OR INV_MAT_GL_ACCT_ID = '11050115' OR INV_MAT_GL_ACCT_ID = '11050116' OR INV_MAT_GL_ACCT_ID = '11050118'
	OR INV_MAT_GL_ACCT_ID = '11050119' OR INV_MAT_GL_ACCT_ID = '11060301' OR INV_MAT_GL_ACCT_ID = '11060302'
	OR INV_MAT_GL_ACCT_ID = '11060303' OR INV_MAT_GL_ACCT_ID = '1105070101';
	--UNION
	/*INSERT INTO PIVOT_REP_HABER*/
	SELECT ('REPUESTOS') AS NOM_CUENTA,
  ('1201030306') AS [CUENTA],
  SUM(RIESGO) AS VALORES FROM PIVOT_REP_DISTRIB WHERE INV_MAT_GL_ACCT_ID = '1201020701' OR INV_MAT_GL_ACCT_ID = '1201020702';
	
	--UNION
	/*INSERT INTO PIVOT_REP_HABER*/
	SELECT ('PRODUCTOS TERMINADOS') AS NOM_CUENTA,
  ('11050102R') AS [CUENTA],
  SUM(RIESGO) AS VALORES FROM PIVOT_REP_DISTRIB WHERE INV_MAT_GL_ACCT_ID = '110503020301' OR INV_MAT_GL_ACCT_ID = '110503010101'
  OR INV_MAT_GL_ACCT_ID = '110503010201' OR INV_MAT_GL_ACCT_ID = '110503010501' OR INV_MAT_GL_ACCT_ID = '110503010201'
  OR INV_MAT_GL_ACCT_ID = '110503010501' OR INV_MAT_GL_ACCT_ID = '110503020101' OR INV_MAT_GL_ACCT_ID = '110504010101'
  OR INV_MAT_GL_ACCT_ID = '110504010201' OR INV_MAT_GL_ACCT_ID = '110504010301' OR INV_MAT_GL_ACCT_ID = '110504010401'
  OR INV_MAT_GL_ACCT_ID = '110504010501' OR INV_MAT_GL_ACCT_ID = '110504010601' OR INV_MAT_GL_ACCT_ID = '110504020101'
  OR INV_MAT_GL_ACCT_ID = '110504020201' OR INV_MAT_GL_ACCT_ID = '110504020301' OR INV_MAT_GL_ACCT_ID = '110504030201'
  OR INV_MAT_GL_ACCT_ID = '110504050101';

  /*SELECT * FROM [PIVOT_REP_HABER];
  SELECT * FROM PIVOT_REP_DISTRIB;

  SELECT ('MATERIA PRIMAS') AS NOM_CUENTA,
  ('11050101R') AS [CUENTA], (select SUM(p.riesgo) from PIVOT_REP_DISTRIB p inner join REF_MA_HABER h on p.INV_MAT_GL_ACCT_ID = h.ID 
  where h.NOM_CUENTA = 'MATERIA PRIMAS')as VALORES ;

    SELECT ('PRODUCTOS TERMINADOS') AS NOM_CUENTA,
  ('11050102R') AS [CUENTA], (select SUM(p.riesgo) from PIVOT_REP_DISTRIB p inner join REF_MA_HABER h on p.INV_MAT_GL_ACCT_ID = h.ID 
  where h.NOM_CUENTA = 'PRODUCTOS TERMINADOS')as VALORES ;

  SELECT CUENTA, NOM_CUENTA FROM REF_MA_HABER GROUP BY NOM_CUENTA;

  SELECT CUENTA, NOM_CUENTA FROM REF_MA_HABER GROUP BY NOM_CUENTA, CUENTA;

  SELECT * FROM REF_MA_HABER;

  */