/****** Script for SelectTopNRows command from SSMS  ******/
SELECT * FROM [TERMO8].[dbo].[PIVOT_REP_CUENTAS];
SELECT * FROM [TERMO8].[dbo].[REF_MA_DEBE];

DROP TABLE [PIVOT_REP_DEBE];
CREATE TABLE [PIVOT_REP_DEBE] (
ID int IDENTITY(1,1) PRIMARY KEY,
NOM_CUENTA varchar(40),
CUENTA varchar(15),
VALORES decimal(16,6)
)


USE TERMO8;
INSERT INTO PIVOT_REP_DEBE
SELECT ('PT_CM_GAB') AS NOM_CUENTA,
('4540701-07-24') AS CUENTA, 
(SUM(P.PT_CM_GAB)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_TRA') AS NOM_CUENTA,
('4540702-07-24') AS CUENTA, 
(SUM(P.PT_CM_TRA)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_TEL') AS NOM_CUENTA,
('4540703-07-24') AS CUENTA, 
(SUM(P.PT_CM_TEL)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_PAJ') AS NOM_CUENTA,
('4540704-07-24') AS CUENTA, 
(SUM(P.PT_CM_PAJ)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_MIS') AS NOM_CUENTA,
('4540705-07-24') AS CUENTA, 
(SUM(P.PT_CM_MIS)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_POL') AS NOM_CUENTA,
('4540703-07-24') AS CUENTA, 
(SUM(P.PT_CM_POL)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_CM_PEL') AS NOM_CUENTA,
('4540706-07-24') AS CUENTA, 
(SUM(P.PT_CM_PEL)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_EF_MIS') AS NOM_CUENTA,
('4540801-07-24') AS CUENTA, 
(SUM(P.PT_EF_MIS)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_EF_PYT') AS NOM_CUENTA,
('4540802-07-24') AS CUENTA, 
(SUM(P.PT_EF_PYT)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_EF_TEX') AS NOM_CUENTA,
('4540802-07-24') AS CUENTA, 
(SUM(P.PT_EF_TEX)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_PP_GRA') AS NOM_CUENTA,
('4540803-07-24') AS CUENTA, 
(SUM(P.PT_PP_GRA)) AS VALORES
FROM PIVOT_REP_CUENTAS P
UNION
SELECT ('PT_PP_ART') AS NOM_CUENTA,
('4540803-07-24') AS CUENTA, 
(SUM(P.PT_PP_ART)) AS VALORES
FROM PIVOT_REP_CUENTAS P

SELECT * FROM [PIVOT_REP_DEBE];

/* Verificar la variación en las cuentas*/
USE [TERMO8];
SELECT
  (SELECT SUM(RIESGO) FROM PIVOT_REP_DISTRIB) AS TOTAL_RIESGO,
(SELECT SUM(VALORES) FROM PIVOT_REP_DEBE) AS TOTAL_DEBE,
(SELECT SUM(VALORES) FROM PIVOT_REP_DEBE) AS TOTAL_HABER;