/****** Script for SelectTopNRows command from SSMS  ******/
USE TERMO8;
Drop table PIVOT_REP_CUENTAS;
CREATE TABLE PIVOT_REP_CUENTAS (
ID int IDENTITY(1,1) PRIMARY KEY,
INV_MAT_GL_ACCT_ID varchar(120),
compania varchar(20),
DISTRIBUCION varchar(508),
RIESGO decimal(16,6),
PT_CM_GAB decimal(16,6),
PT_CM_TRA decimal(16,6),
PT_CM_TEL decimal(16,6),
PT_CM_PAJ decimal(16,6),
PT_CM_MIS decimal(16,6),
PT_CM_POL decimal(16,6),
PT_CM_PEL decimal(16,6),
PT_EF_MIS decimal(16,6),
PT_EF_PYT decimal(16,6),
PT_EF_TEX decimal(16,6),
PT_PP_GRA decimal(16,6),
PT_PP_ART decimal(16,6)
)
 
  USE TERMO8;
INSERT INTO PIVOT_REP_CUENTAS
  SELECT P.INV_MAT_GL_ACCT_ID, P.COMPANIA, P.DISTRIBUCION, P.RIESGO,
	(P.RIESGO * (SELECT PT_CM_GAB FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_GAB,
	(P.RIESGO * (SELECT PT_CM_TRA FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_TRA,
	(P.RIESGO * (SELECT PT_CM_TEL FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_TEL,
	(P.RIESGO * (SELECT PT_CM_PAJ FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_PAJ,
	(P.RIESGO * (SELECT PT_CM_MIS FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_MIS,
	(P.RIESGO * (SELECT PT_CM_POL FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_POL,
	(P.RIESGO * (SELECT PT_CM_PEL FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_CM_PEL,
	(P.RIESGO * (SELECT PT_EF_MIS FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_EF_MIS,
	(P.RIESGO * (SELECT PT_EF_PYT FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_EF_PYT,
	(P.RIESGO * (SELECT PT_EF_TEX FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_EF_TEX,
	(P.RIESGO * (SELECT PT_PP_GRA FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_PP_GRA,
	(P.RIESGO * (SELECT PT_PP_ART FROM REF_POL_DISTR WHERE ID = P.DISTRIBUCION)) AS PT_PP_ART
  FROM PIVOT_REP_DISTRIB P


  SELECT * FROM PIVOT_REP_CUENTAS;