/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT * FROM [TERMO8].[dbo].[PIVOT_REP_RIESGO_INVENTARIO] USE TERMO8;
  
  DECLARE @ID VARCHAR(MAX)
  DECLARE @DIST VARCHAR(MAX)
  DECLARE @DIF VARCHAR(MAX)
  DECLARE @TOTAL VARCHAR(MAX)

  SELECT @ID = (COALESCE(@ID + ', ', '') + cast(ID AS VARCHAR)) 
  FROM PIVOT_REP_RIESGO_INVENTARIO WHERE INV_MAT_GL_ACCT_ID IS NULL

  SELECT @DIST = (COALESCE(@DIST + ', ', '') + cast(ID AS VARCHAR)) 
  FROM PIVOT_REP_RIESGO_INVENTARIO WHERE DISTRIBUCION IS NULL

  SELECT @DIF = (COALESCE(@DIF + ', ', '') + cast(ID AS VARCHAR)) 
  FROM PIVOT_REP_RIESGO_INVENTARIO WHERE DIFERENCIA IS NULL
  
  SELECT @TOTAL = (COALESCE(@TOTAL + ', ', '') + cast(ID AS VARCHAR)) 
  FROM PIVOT_REP_RIESGO_INVENTARIO WHERE TOTAL IS NULL

  SELECT
  (@ID) AS INV_MAT_GL_ACCT_ID,
  (@DIST) AS DISTRIBUCION,
  (@DIF) AS DIFERENCIA,
  (@TOTAL) AS TOTAL;

 -- 14575, 14576, 14577

  --SELECT * FROM PIVOT_REP_RIESGO_INVENTARIO;

  /*UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DIFERENCIA = NULL WHERE ID = 1; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DIFERENCIA = NULL WHERE ID = 4; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DIFERENCIA = NULL WHERE ID = 8; */
  /*
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DISTRIBUCION = NULL WHERE ID = 14575; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DISTRIBUCION = NULL WHERE ID = 24; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET DISTRIBUCION = NULL WHERE ID = 25;

  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET TOTAL = NULL WHERE ID = 25; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET TOTAL = NULL WHERE ID = 14; 
  UPDATE PIVOT_REP_RIESGO_INVENTARIO SET TOTAL = NULL WHERE ID = 14577;*/