/*Table poltica calculation parameters*/

USE TERMO8;
Drop table REF_POL_RIESGO;
CREATE TABLE REF_POL_RIESGO (
ID varchar(16) PRIMARY KEY,
DESCRP varchar(50),
D30 decimal(4,3),
D60 decimal(4,3),
D90 decimal(4,3),
D120 decimal(4,3),
D150 decimal(4,3),
D180 decimal(4,3),
D210 decimal(4,3),
D240 decimal(4,3),
D270 decimal(4,3),
D360 decimal(4,3),
D360PLUS decimal(4,3),
CREATION_DATE DATETIME2,
UPDATE_DATE DATETIME2,
ACTIVE bit DEFAULT 1
)
truncate table REF_POL_RIESGO;
INSERT INTO REF_POL_RIESGO VALUES ('11050101', 'RESINAS DE POLIETILENO', 0, 0, 0, 0, 0, 0, 0.25, 0.25, 0.25, 0.5, 1, SYSDATETIME(), null, 1);
INSERT INTO REF_POL_RIESGO VALUES ('11050102', 'PIGMENTOS Y ADITIVOS', 0, 0, 0, 0, 0, 0, 0.25, 0.25, 0.25, 0.5, 1, SYSDATETIME(), null, 1);
INSERT INTO REF_POL_RIESGO VALUES ('11050103', 'TINTAS', 0, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.5, 1, SYSDATETIME(), null, 1);
select * from REF_POL_RIESGO;