
DROP PROCEDURE SP_PARTIDA_CONTABLE  @CORTE DATETIME2
AS
BEGIN

TRUNCATE TABLE PIVOT_CUENTA_CONTABLE;

INSERT INTO PIVOT_CUENTA_CONTABLE
  SELECT H.CUENTA, (NULL) AS COMPANIA, H.NOM_CUENTA, (NULL) AS DEBE, (H.VALORES) AS HABER, ('Estim. Obsolesc. ' ) AS CORTE
  FROM PIVOT_REP_HABER H
  union
  SELECT D.CUENTA, (NULL) AS COMPANIA, D.NOM_CUENTA, (D.VALORES) AS DEBE, (NULL) AS HABER, ('Estim. Obsolesc. ' ) AS CORTE
  FROM PIVOT_REP_DEBE D order by cuenta;

  SELECT * FROM PIVOT_CUENTA_CONTABLE;
    
 END;